/* CONTENT CSS */

.Contnet {
  width: 90%;
  margin: auto;
  height: 550px;
  margin-top: 10px;
  /* border: 1px solid white; */

  /* GRIDS */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* CONTENT_SIDES */
/* right side */
.left_side {
  /* background-color: #353535; */
  background: linear-gradient(to top right, #000033 0%, #a008a0 100%);
  height: 540px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  /* margin-right: 80px; */
  /* margin-left: 80px; */
  /* background-image: url(../icons_navbar/profile.png); */
  /* border: 4px solid red; */

  /* FLEX */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PLACE FOR LOGO IMGS TURN */
.place_for_img {
  width: 81%;
  height: 70%;
  /* border: 2px solid white; */
  border-radius: 50%;
  animation: rool 5s infinite linear;
}

/* FIX TO FIT THE IMG */
.place_for_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* IMG ANIMATION */
@keyframes rool {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Left SIde */
.right_side {
  /* background-color: orange; */
  /* GRIDs */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-gap:5px; */
  color: white;
  font-family: "Jost", sans-serif;
}

/* INTRO NAME */
.intro_name {
  /* background-color: #191919; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

/* H1 NAME */
.intro_name h1 {
  margin-left: 40px;
}

/* NAME UNDERLINE */
#name_underline {
  text-decoration: underline;
}
/* #name_underline::first-letter{
    font-size: 30px;
    color: red;
} */

/* Intro para */
.intro_para {
  /* background-color: #191919; */
  font-size: 17px;
  /* padding-left: 20px; */
  display: flex;
  color: orange;
  align-items: center;
  justify-content: center;
}

.contact_link {
  /* background-color: #191919; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
}

.contact_link h4 {
  border: 1px solid white;
  padding: 10px;
  /* font-size: 16px; */
  border-radius: 5px;
  letter-spacing: 1px;
}

.contact_link h4:hover {
  transition: 1s ease;
  cursor: pointer;
  opacity: 0.9;
  border: 1px solid orange;
  color: orange;
}

/* BOXOX */
.info_owner {
  background-color: #191919;
}

/* MAKE CONTENT RESP FOR MOBILE */
@media screen and (max-width: 1200px) {
  .Contnet {
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    /* display: grid; */
    /* grid-template-columns: 100% 20%; */
  }

  .right_side {
    background-color: #191919;
    /* border: 1px solid red; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* gap:-px; */
  }
  .right_side p {
    font-size: 14px;
    text-align: left;
    padding: 15px;
    /* border: 1px solid white; */
    /* display: none; */
  }

  .left_side {
    /* border: 1px solid white; */
    background-image: url(../icons_navbar/profile.png);
    width: 110%;
  }
  .left_side img {
    display: none;
  }

  .intro_name h1 {
    font-size: 33px;
    padding: 20px;
    margin: 0;
    top: 20px;
  }

  /* CONTACT BUTTON */
  .contact_link h4 {
    font-size: 14px;
    margin-left: 15px;
  }

  /* LEFT SIDE */
  .right_side {
    order: 1;
  }
}
